
div#topo{
width:945px;
height:165px;
margin:-20px;
}
div#topo p{
font-family:verdana;
font-size:12;
margin:-20;
}
div#logo{
width:150px;
height:50px;
margin-top:50px;
float:left;
position: absolute;
left:-80px;
top: 10px;
}
div#login{
width:180px;
height:70px;
margin-top:50px;
float:right;
}
div#login p{
font-family:verdana;
font-size:12;	
}
div#menu{
background:#373737;
width:1425px auto;
height:65px;
margin:0 auto;
text-transform:uppercase;
transition: background 1s;
}
div#menu a{
color:fff;
font-family:bebas,bebas neue,quartz,arial,Segoe UI Semibold;
font-size:12px;
text-decoration:none;
margin-top:25px;
margin-left:50px;
display:block;
float:left;
}
div#menu a:hover{
color:#00d377;
text-transform:uppercase;
}

div#banner{
display:no;
background:#00d377;
width:945px;
height:327px;
margin:0 auto;
}
div#inetrface{
width:900px;
background-color:#cccccc;
margin: 10px autopx 0px autopx;
box-shadow: 0px 0px 10px rbga(0,0,0.5);
padding: 10px;
}
div#cabecalho{
background:#00d377;
border-bottom:1px #606060 solid;
}
.botao{
font:bold 21px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#00d377;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:1px 2px 5px #000000;
-moz-box-shadow:1px 2px 5px #000000;
-webkit-box-shadow:1px 2px 5px #000000;
border-radius:0px 90px 0px 90px;
-moz-border-radius:0px 90px 0px 90px;
-webkit-border-radius:0px 90px 0px 90px;
width:57px;
padding:20px 63px;
cursor:pointer;
margin:0 auto;

}
.botao:active{
cursor:pointer;
position:relative;
top:2px;
}
div#conteudo{
text-transform:uppercase;
}
div#conteudo p{
font-size:15;
font-family:Narrow Rectangle-7,bebas neue,Berlin Sans FB,arial,Segoe UI Semibold;
text-decoration:none;
margin-top:25px;
margin-left:50px;
display:block;	
text-transform:uppercase;
left:50%;
top:50%;
margin-left:auto;
}
div#conteudo h3{
font-size:30;
font-family:Narrow Rectangle-7,bebas neue,Berlin Sans FB,arial,Segoe UI Semibold;
text-decoration:none;
display:block;	
color:#00d377;
left:50%;
top:50%;
margin-left:auto;
}
div#conteudo h1{
font-size:22;
font-family:Narrow Rectangle-7,bebas neue,Berlin Sans FB,arial,Segoe UI Semibold;
text-decoration:none;
display:block;	
left:50%;
top:50%;
margin-left:auto;
}
div#conteudo h2{
font-size:25;
font-family:Narrow Rectangle-7,bebas neue,Berlin Sans FB,arial,Segoe UI Semibold;
text-decoration:none;
display:block;	
color:#00d377;
left:50%;
top:50%;
margin-left:auto;
}